<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.chenz.comments.dao.ContextDao">
    <insert id="createContext">
        insert into contexts(`name`, ctime) value (#{context}, round(unix_timestamp(current_timestamp(3)) * 1000, 0))
    </insert>
    <update id="updateTop">
        update contexts
        set top=#{id},
            mtime=round(unix_timestamp(current_timestamp(3)) * 1000, 0)
        where id = (select `context` from comments where id = #{id})
    </update>
    <select id="getContextByName" resultType="contextEntity">
        select id, `name`, top, ctime, mtime
        from contexts
        where name = #{name}
    </select>
</mapper>
